@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
$font-p: "Merriweather", serif;
$font-p-1: "Special Elite", cursive;
$font-p-2: "Oxygen", sans-serif;
$font-title-1: "Staatliches", cursive;
$font-title-2: "UnifrakturMaguntia", cursive;
$background: #f5f5f5;
$grayDark: #212121;
$whiteLight: #fafafa;
$whiteFont: rgb(240, 233, 232);
$bluenew: rgb(25, 205, 250);
