@import "../Assets/Variables.scss";

.Header {
  height: 150px;
  width: 80%;
  border-bottom: 2px outset $whiteFont;
  display: flex;
  align-items: center;
  justify-content: center;

  .Header_title {
    font-family: $font-title-2;
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    @include textRGB;
  }

  .Header_aside-left,
  .Header_aside-right {
    width: 20%;
    text-align: center;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    font-family: $font-p;
    font-size: 12px;
  }
  .Header_aside-left {
    border: none;
  }
}

@media screen and (min-width: 215px) and(max-width:700px) {
  .Header {
    .Header_title {
      font-size: 1.7em;
      margin: 0.1rem;
    }
    .Header_aside-left,
    .Header_aside-right {
      font-size: 0.7rem;
      padding: 23px;
    }
  }
}
