@import "../Assets/Variables.scss";

.Navigator-active {
  grid-column: 1/2;
  align-self: flex-start;
  margin: 10px 0 0 11%;
  height: 250px;
  position: sticky;
  top: 0;
  display: block;
  ul {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly;
    height: 95%;
    border-left: 2px inset $whiteFont;
    li {
      list-style: none;
      font-size: 1.1rem;
      font-family: $font-p;
      font-weight: bold;
      position: relative;
      margin-left: 10px;
      transition: 0.2 ease all;
    }
    .Link:hover {
      font-weight: bold;
      color: $whiteFont;
    }
    li::before {
      position: absolute;
      left: -15px;
      top: 5px;
      transform: rotate(45deg);
      content: "";
      height: 10px;
      width: 10px;
      display: block;
      @include backRGB;
    }
  }
}
.Navigator {
  position: sticky;
  display: none;
  justify-self: end;
  cursor: pointer;
  top: 5px;
  margin: 5px 10% 0 0;
  width: 20px;
  border: 0.5px solid $whiteFont;
  border-radius: 55%;
  @include backRGB;
  background: linear-gradient(
    -45deg,
    #ee76526e,
    #e73c7e5b,
    #23a5d55b,
    #23d5ab5d
  );
}
@media screen and (min-width: 215px) and(max-width:700px) {
  .Navigator-active {
    background-color: rgba(228, 238, 235, 0.233);
    margin: 0;
    display: none;
    ul {
      li {
        font-size: 1rem;
      }
    }
  }

  .None {
    display: none;
    transform: scale(0);
    transition: all 1s ease;
  }
  .Block {
    transform: scale(1);
    transition: all 1s ease;
    display: block;
  }
}
