@import "../../styles/Variables.scss";

.Project {
  margin-bottom: 30px;
  .Project_title {
    margin-bottom: 10px;
    font-family: $font-p;
    font-weight: bold;
  }

  p {
    margin-bottom: 14px;
    line-height: 26px;
  }
  .Project_buttons {
    display: flex;
    justify-content: start;
    align-items: flex-start;

    button {
      padding: 8px 12px;
      border: none;
      font-family: $font-p;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      @include backRGB;
      a {
        text-decoration: none;
        color: $whiteFont;
      }
    }
    .button_repo {
      margin-right: 30px;
    }
  }
}
