@import "../Assets/Variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $whiteFont;
}
body {
  background-color: rgb(19, 19, 19);
}

.App {
  width: 60%;
  margin: auto;
  background-color: $grayDark;
  height: minmax(100vh, auto);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Link {
  text-decoration: none;
  color: $whiteFont;
}
