.Main {
  width: 80%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 10px;
  height: minmax(100vh, auto);
}

@media screen and (min-width: 215px) and (max-width: 700px) {
  .Main {
    grid-template-columns: 100%;
    width: 100%;
    padding: 10px;
  }
}
