.Sections {
  grid-column: 2/3;
  height: 150vh;
  padding: 30px 10%;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .Sections {
    grid-column: 1/2;
    width: 100%;
    padding: 0 10%;
  }
}
