@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

$font-p: "Merriweather", serif;
$font-p-2: "Oxygen", sans-serif;
$font-title-2: "Inter", sans-serif;
$background: #151b26;
$whiteFont: rgb(240, 233, 232);

@mixin textRGB {
  animation: fluido 5s ease-in-out infinite;
  background: linear-gradient(-45deg, #ee7752, #23d5ab);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin backRGB {
  animation: fluido 5s ease-in-out infinite;
  background: linear-gradient(-45deg, #ee7752, #23d5ab);
  background-size: 300%;
}
