@import "../Assets/Variables.scss";

.AboutMe {
  margin-right: 10%;
  h2 {
    font-family: $font-p;
    margin-bottom: 1rem;

    span {
      animation: fluido 10s ease-in-out infinite;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 300%;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
picture {
  width: 80%;
  img {
    width: 100%;
  }
}

p {
  font-family: $font-p-2;
  margin-top: 0.7rem;
  font-size: 1rem;
  transition: 1s ease all;
}

@keyframes fluido {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media screen and (min-width: 320px) and(max-width:700px) {
  .AboutMe {
    margin-right: 0;
  }
}
