@import "../../styles/Variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $whiteFont;
}
body {
  background: $background url("/src/bg.svg") no-repeat center center fixed;
  background-size: cover;
}

.App {
  max-width: 740px;
  margin: auto;
  background-color: transparent;
  display: flex;
  min-height: 100vh;
  max-height: auto;
  min-width: 215px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Link {
  text-decoration: none;
  color: $whiteFont;
}
@keyframes fluido {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@media screen and (min-width: 215px) and (max-width: 700px) {
  .App {
    width: 100%;
  }
}
